# Archivos de Visual Studio, Binarios y Caché de IDE

# Directorios de compilación (Binarios)
[Bb]in/
[Oo]bj/

# Archivos de la solución y del usuario
*.suo
*.user
*.pdb
*.bak

# Archivos de caché de Visual Studio (¡ESTO RESUELVE TUS BLOQUEOS!)
# Git ignorará toda la carpeta oculta .vs/
**/.vs/

# Paquetes NuGet
packages/